<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo TypeScript</title>
</head>

<body>
    <div id="pnlConteudo" class="conteudo">
        <h1>Termo</h1>

        <div class="cabecalho">
            <h1>Termo</h1>
      
            <button id="btnExibirHistorico" class="btn-historico">
              <span class="material-symbols-outlined">
                monitoring
              </span>
              Estatísticas
            </button>
          </div>
        <!-- Grid Termo -->
        <div id="pnlTermo" class="grid-termo">
            <div class="linha">
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                
            </div>

            <div class="linha">
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
            </div>

            <div class="linha">
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
            </div>

            <div class="linha">
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
            </div>

            <div class="linha">
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
                <div class="letra"></div>
            </div>
        </div>

        

        <div class="notificacao-resultado" id="divNotificacao">

        </div>

        <!-- Grid Teclado -->

        <div id="pnlTeclado" class="grid-teclado">



            <div class="linha">
                <button class="delete" id="btnDeletar">Delete</button>
                <button class="chutar" id="btnChutar">Chutar!</button>
                <button class="botao-jogar-novamente" id="btnJogarNovamente">
                    <image src="assets/32303.png" class="image-jogar-novamente"></image>
                </button>
    
            </div>

            <div class="linha">
                <button class="btn">q</button>
                <button class="btn">w</button>
                <button class="btn">e</button>
                <button class="btn">r</button>
                <button class="btn">t</button>
                <button class="btn">y</button>
                <button class="btn">u</button>
                <button class="btn">i</button>
                <button class="btn">o</button>
                <button class="btn">p</button>
            </div>

            <div class="linha">
                <button class="btn">a</button>
                <button class="btn">s</button>
                <button class="btn">d</button>
                <button class="btn">f</button>
                <button class="btn">g</button>
                <button class="btn">h</button>
                <button class="btn">j</button>
                <button class="btn">k</button>
                <button class="btn">l</button>
            </div>

            <div class="linha">
                <button class="btn">z</button>
                <button class="btn">x</button>
                <button class="btn">c</button>
                <button class="btn">v</button>
                <button class="btn">b</button>
                <button class="btn">n</button>
                <button class="btn">m</button>
            </div>
        </div>
         <!-- Estatísticas -->
    <div id="pnlHistorico" class="container-historico d-none">
        <h2 class="titulo-historico">Histórico</h2>
  
        <div class="grid-numeros">
          <div class="coluna-numero">
            <p id="lblJogos" class="header-numero">0</p>
            <p class="descricao-numero">Jogos</p>
          </div>
  
          <div class="coluna-numero">
            <p id="lblVitorias" class="header-numero">0</p>
            <p class="descricao-numero">Vitórias</p>
          </div>
  
          <div class="coluna-numero">
            <p id="lblDerrotas" class="header-numero">0</p>
            <p class="descricao-numero">Derrotas</p>
          </div>
  
          <div class="coluna-numero">
            <p id="lblSequencia" class="header-numero">0</p>
            <p class="descricao-numero">Sequência</p>
          </div>
        </div>
  
        <div class="grid-tentativas">
          <div class="linha-tentativa">
            <p class="indice-tentativa">0</p>
            <p class="valor-tentativa">0</p>
          </div>
  
          <div class="linha-tentativa">
            <p class="indice-tentativa">1</p>
            <p class="valor-tentativa">0</p>
          </div>
  
          <div class="linha-tentativa">
            <p class="indice-tentativa">2</p>
            <p class="valor-tentativa">0</p>
          </div>
  
          <div class="linha-tentativa">
            <p class="indice-tentativa">3</p>
            <p class="valor-tentativa">0</p>
          </div>
  
          <div class="linha-tentativa">
            <p class="indice-tentativa">4</p>
            <p class="valor-tentativa">0</p>
          </div>
  
        </div>
      </div>
  

    </div>
</body>

</html>