body, html { margin: 0; min-height: 100vh; }

body { 
  font-family: 'Segoe UI', sans-serif;

  background-color: #080404;
  color: #ffffff;
}

.conteudo { 
  padding: 1%;

  gap: 10px;

  display: grid;
  place-items: center;
}

.grid-termo {
  display: grid;
  grid-template-rows: repeat(5, 65px);
  gap: 7px;

  margin-bottom: 2%;
}

.grid-termo > .linha {
  display: grid;
  grid-template-columns: repeat(5, 65px);
  gap: 7px;
}

.grid-termo > .linha > .letra {
  display: grid;
  place-items: center;
  height: 100%;

  background-color: #bebebe;
  color: #2e2e2e;
  border-radius: 3px;

  font-size: 22px;
  font-weight: 700;
}

.grid-teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.grid-teclado > .linha > button:hover {
  background-color: transparent;
  
  color: #32fe5e;

  font-weight: 800;
}
button {
    background-color: rgb(169, 169, 241);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: rgb(7, 7, 7);
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}
.delete {
    width: 100px; 
    text-transform: capitalize;

}

.chutar{
    width: 100px; 
    text-transform: capitalize;
}
.botao-jogar-novamente{
    height: 45px;
    font-size: 20PX;
    padding: 5PX 10PX;
    border-radius: 10px;
    background-color: rgb(35, 255, 145);
    box-shadow: 0px 5px ;
}

.image-jogar-novamente{
    width: 30px;
    align-items: center;
    cursor: pointer;
}
.cabecalho {
  display: flex;
  align-items: center;

  gap: 50px;
}
.btn-historico {
  display: flex;
  align-items: center;
  gap: 5px;

  height: 45px;
  padding: 5px 10px;
  
  font-size: 16px;

  color: #ffffff;
  background-color: transparent;

  border: 1px solid #ffffff;
  border-radius: 10px;
}

.btn-historico {
  display: flex;
  align-items: center;
  gap: 5px;

  height: 45px;
  padding: 5px 10px;
  
  font-size: 16px;

  color: #ffffff;
  background-color: transparent;

  border: 1px solid #ffffff;
  border-radius: 10px;
}

.btn-historico:hover {
  border-width: 3px;
  font-weight: 600;
}

.container-historico {
  position: absolute;

  display: grid;
  gap: 40px;

  z-index: 1;

  background-color: #312B2D;

  border-radius: 10px;

  padding: 80px 120px;

  backdrop-filter: blur(20px);
}

.titulo-historico {
  text-align: center;
  font-size: 35px;
  margin: 0;
}

.grid-numeros {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  gap: 20px;
}

.grid-numeros > .coluna-numero {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;

  font-weight: 700;
}

.coluna-numero > .header-numero {
  font-size: 30px;

  margin: 0;
}

.coluna-numero > .descricao-numero {
  font-size: 18px;

  margin: 0;
}

.grid-tentativas > .linha-tentativa {
  display: flex;
  gap: 10px;
  height: 50px;

  align-items: center;
}

.linha-tentativa > .indice-tentativa {
  font-size: 20px;
}

.linha-tentativa > .valor-tentativa {
  width: 100%;

  font-size: 25px;
  font-weight: 700;
  text-align: end;
  padding: 5px;

  color: #080404;
  background-color: #32fe5e;

  border-radius: 5px;
}

.d-none {
  display: none;
}